
/* BASE */

.tigerimage {
    width: 250px;
    height: 250px;
    padding: 20px;
}

h1 {
    padding: 20px;
    margin-top: 20px;
}


.h6 {
    padding: 0px 25px 0px 25px
}

.main {
    padding: 20px;
}

body {
    background: rgb(185,185,185);
    background: linear-gradient(0deg, rgba(185,185,185,1) 20%, rgba(251,251,251,1) 91%);
}

.card-registration{
    border-radius: 15px;
}

.nombreburger {
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
}

.descripcion {
    font-size: 13px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.extras {
    font-size: 13px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adicional {
    font-size: 13px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

summary {
    text-align: left;
}


/* MOSTRAR U OCULTAR */

.ocultar {
    display: none;
    visibility: hidden;
}


/* MQ */

@media (max-width: 460px) {
    .titulo{
    font-size: 30px;
    padding-top: 40px;
    }

    .tigerimage{
        width: 200px;
        height: 200px;
    }

    .descripcion {
        font-size: 8px;
        text-align: left;
    }

    .nombreburger {
        font-size: 12px;
    }

    .precio {
        font-size: 11px;
    }

    .botonagregar{
        font-size: 12px;
    }

    #botonpedidos {
        font-size: 12px;
    }

    summary {
        font-size: 11px;
    }

    .adicional {
        font-size: 8px;

    }

    .p-5 {
        font-size: 12px;
    }
  }


/* SWEET ALERT */

.swal2-title {
    font-size: 22px;
    }
    
    .swal2-html-container {
        font-size: 18px;
    }
    
    .swal2-close {
        font-size: 20px;
    }
    
    .swal2-cancel{
        font-size: 20px; 
    }
    
    .swal2-confirm {
        font-size: 20px;  
    }

/* UBI */


.ubi {
    border-radius: 10%;
}

@media (max-width: 777px) {
    .ubi{
      width: 300px;
      height: 200px;
    }
  }


/* CARRITO */

.detalleadicionales {
    font-size: 12px;
}



@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

        
    @media (max-width: 768px) {
    #imgcarrito {
    width: 165px;
    height: 165px;
    padding: 10px;

            }
        }

.templatecarrito {
    display: none;
    visibility: hidden;
}

#vaciarcarrito {
    align-items: right;
    text-align: right;
    justify-content: right;
    float: right;
}


/* FOOTER */

footer {
    width: 100%;
}
.circulo{
    border-radius: 40px;
}